
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif ;
}


.header {
    position: fixed;
    width: 100%;
    background: none;
    z-index: 999;
}

.header .max-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    padding: 30px 70px;
}

.header.sticky .max-with {
    padding: 15px 70px;
}

.header.sticky{
    background: #9D0208;
}

.header .logo1 .logo2{
    max-width: 35px;
    
}

.header .menu1 a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
} 
.header .menu1 a:hover{
    color: #9D0208;
    transition: all .3s ease;
}
.header.sticky a:hover{
    color: white;
}

.header .max-with .hamburger {
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.hero1{
    height: 100vh;
    position: relative;
    
}

.hero1 .hero2 .img2 {

    display: none;
    position: absolute;
    width: 90%;
    bottom: 0px;
    left: 0px;

}


.hero2{
    height: 100%;
    display: flex;
    justify-content: flex-start;

}
.hero1 .hero2 .heroLeft {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}
.hero1 .hero2 .heroLeft .img1{
    position: absolute;
    width: 85%;
    
}

.hero1 .hero2 .heroRight {
    width: 60%;
    height: 100%;
    background-color: #03071E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero1 .hero2 .heroRight .textHero h3{
    font-size: 72px;
    margin: 20px;
    padding: 0px 20px;
}

.hero1 .hero2 .heroRight .textHero h4 {
    font-size: 48px;
    margin: 20px;
    padding: 0px 20px;
}





.about{
    text-align: center;
    max-width: 900px;
    margin: 0px auto ;
    padding: 0px 30px;  
}
.about p {
    margin-top: 30px;
}



.title{
    text-align: center;
    margin-top: 140px;
    font-size: 48px;
    font-weight:700;   
}

.works .title{
    background-color: #03071E;
    color: white;
    padding-top: 20px;
}

.works .workContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.works {
    background-color: #03071E;
    color: white;
}

.works .workContent .card {
    width: 40% ;
    height: 80%;
    border-radius: 5px;
    border: 2px;
    border-style: outset;
    border-color: white;
    margin: 40px 0px;
}

.box img{
    width: 100%;
}

.works .workContent .card .box  {

    position: relative;
    

}

.works .workContent .card .box .textwork{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

}

.works .workContent .card .box .textwork:hover{
    opacity: 1;
    transition: 400ms;
}

.works .workContent .card .box .textwork .textwork1 .textwork2{
    margin: 10px 0px;
}

.works .workContent .card .box .textwork .textwork1 .projectname{
    font-size: 30px;
    margin-bottom: 20px;
}

.works .workContent .card .box .textwork .textwork1 .viewProject{
    font-size: 24px;
    margin-top: 20px;
}
    




.contacts .naslov{
    text-align: center;
    max-width: 900px;
    margin: 0px auto ;
    padding: 0px 30px; 
    
}
.contacts .naslov p {
    margin-bottom: 40px;
}

.contacts .contactContent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;;
    justify-content: space-evenly;
}

.contacts .contactContent .card{
    width: 40%;
    
   
}

.contacts .contactContent .left ,
.contacts .contactContent .right {
    margin: 40px 0px;
}

.contacts .contactContent .left .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contacts .contactContent .left .row .info{
    margin-left: 20px;
}

.contacts .contactContent .row i {
    font-size: 48px;
}

.contacts .contactContent .right .row {
    margin: 10px 0px;
    
}

.contacts .contactContent .right .row .info input{
    width: 100%;
    height: 45px;
    border: 0px;
    background-color: #F5F5F5; 
    margin-top: 5px;
    font-size: 14px;
}

.contacts .contactContent .right .row .info textarea{

    width: 100%;
    height: 60px;
    border: 0px;
    background-color: #F5F5F5; 
    margin: 5px 0px;
    font-size: 14px;

}

.contacts .contactContent .right .row .kopche .kopche2 {

    border: 0px;
    width: 160px;
    height: 45px;
    background-color: #9D0208;
    color: white;
    border-radius: 10px;

}

.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #03071E;
    color: white;
}




 




@media screen and (max-width: 480px) {
    .works .workContent .card{
        width: 80%;
    }
    .works .workContent{
        flex-direction: column;
    }

    .hero1 .hero2 .img2{
        display: block
    }

    .hero1 .hero2 .heroLeft .img1{
        display: none;
    }

    .hero1 .hero2 .heroRight .textHero{
        z-index: 999;
    }



  }
  @media screen and (max-width: 700px) {
    .contacts .contactContent .card{
        width: 80%;
    }
    .contacts .contactContent{
        flex-direction: column;
        align-items: center;
    }
    .contacts .contactContent .right .row .kopche .kopche2{
        width: 100%;
    }

   
  }



  @media screen and (max-width: 915px) {


    .hero1 .hero2 .heroRight .textHero h3 {
        font-size: 48px;
    }
    
    .hero1 .hero2 .heroRight .textHero h4  {
        font-size: 24px;
    }

    .header .max-with {

        padding: 20px 40px;
    }
    .header.sticky .max-with{
        padding: 10px 40px;
    }

    .header .max-with .hamburger {
        display: block;
        z-index: 999;
    }

    .header .max-with .hamburger i.active:before{
        content: "\f00d";
    }

    .header .menu1{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        background: #03071E;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
    }

    .header .menu1.active{

        left: 0px;

    }

    .header .menu1 .menu2{
        font-size: 24px;
        margin: 15px 0px;

    }

    
  }

  @media screen and (max-width: 700px) {


    .hero1 .hero2 .heroRight .textHero h3 {
        font-size: 40px;
    }
    
    .hero1 .hero2 .heroRight .textHero h4  {
        font-size: 20px;
    }
    
  }




