
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif ;
}


.header {
    position: fixed;
    width: 100%;
    /* background: none; */
    z-index: 999;
    top: 0px;
}

.header .max-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    padding: 30px 70px;
}

.header.sticky .max-with {
    padding: 15px 70px;
}

.header.sticky{
    background: #9D0208;
}

.header .logo1 .logo2{
    max-width: 35px;
    
}

.header .menu1 a {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
} 
.header .menu1 a:hover{
    color: #9D0208;
    transition: all .3s ease;
}
.header.sticky a:hover{
    color: white;
}

.header .max-with .hamburger {
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.hero1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero1 .hero2{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column
}

.hero1 .hero2 .naslov{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0px;
}

.hero1 .hero2 .image .img1{
    width: 100%;
}

.sodrzina  {
    text-align: center;
}

.sodrzina .text {
    margin: 20px;
}

.sodrzina .text .team {
    padding: 0px 20px;
}

.sodrzina h3{
    margin: 0px 0px;
}

.challenge {
    text-align: center;
    margin-top: 60px;
}

.challenge h1 , 
.challenge h2 {
    margin: 10px 0px;
}

p {
    text-align: center;
    max-width: 900px;
    margin: 0px auto ;
    padding: 0px 30px;  
}

.slika img {
    text-align: center;
    width: 80%;
}
.slika{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}






@media screen and (max-width: 915px) {

    .header .max-with {

        padding: 20px 40px;
    }
    .header.sticky .max-with{
        padding: 10px 40px;
    }

    .header .max-with .hamburger {
        display: block;
        z-index: 999;
    }

    .header .max-with .hamburger i.active:before{
        content: "\f00d";
    }

    .header .menu1{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        background: #03071E;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
    }

    .header .menu1.active{

        left: 0px;

    }

    .header .menu1 .menu2{
        font-size: 24px;
        margin: 15px 0px;

    }

    .header .menu1 a{
        color: white;
    }

    .hero1 .hero2{
        width: 80%;
    }

    
}

@media screen and (max-width: 700px){

    .hero1 .hero2{
        justify-content: space-evenly;
    }

}